<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ejemplo Flask</title>
  </head>
  <body>
    <form action = './' method = post>
      <fieldset>
        <legend>Registro</legend>
        <div>
          {{ form.name.label() }}
          {{ form.name() }}
          <br>
          {% for message in form.name.errors %}
            <div>{{ message }}</div>
          {% endfor %}
          {{ form.last_name.label() }}
          {{ form.last_name() }}
          <br>
          {% for message in form.last_name.errors %}
            <div>{{ message }}</div>
          {% endfor %}
          {{ form.email.label() }}
          {{ form.email() }}
          <br>
          {% for message in form.email.errors %}
            <div>{{ message }}</div>
          {% endfor %}
          <br>
          {{ form.hidden_tag() }}
          {{ form.submit() }}
        </div>
      </fieldset>
    </form>
  </body>
</html>
